<div id="channel_<%= channel_id %>_readout"
     data-id="<%= channel_id %>"
     class=" ch-value "
     hidden>
  0
</div>

<div id="channel_<%= channel_id %>_readout_disabled"
     class=" ch-value "
     data-type="hidden-label"
     hidden>
  Solo
</div>
