<div class=" menu-bar ">

  <div class=" user-name ">
    <h1><%= title %></h1>
  </div>

  <div class=" admin-link " data-turbolinks="false">
    <%= link_to "Admin", admin_index_path, method: :get %>
  </div>

  <div class=" log-out " data-turbolinks="false">
    <%= link_to ">Mixer", channels_path, method: :get %>
  </div>

</div>
