<div class=" menu-bar ">

  <div class=" user-name ">
    <h1><%= title %></h1>
  </div>

  <div class=" admin-link ">
    <%= link_to "Admin", admin_index_path %>
  </div>

  <div class=" log-out ">
    <%= link_to ">Mixer", channels_path, method: :get %>
  </div>

</div>
