<div class="ih-wrapper">

  <div class="navbar">

    <div class="title">
      <label><%= current_user.name.titleize %></label>
    </div>

    <div class="sign-out">
      <%= link_to 'Sign Out', destroy_user_session_path,
        method: :delete,
        data: {confirm: 'Are you sure you want to sign out?'}
      %>
    </div>

  </div>

  <div>
    <%= react_component 'App' %>
  </div>

</div>
