// BASE
//////////////////////////////

@import 'colors';
@import 'layout';
@import 'devise_login';
@import 'rangeslider';
@import 'buttons';
@import 'displays';
@import 'chanStrips';


html, body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size:        16px;
  line-height:      1.5;
  font-family:      helvetica;
  color:            white;
  background-color: black;

  //div { border: 1px solid black }
}

input {
  width:         100%;
  border:        1px solid #ddd;
  border-radius: 5px;
  padding:       5px;
  text-align:    center;

  &:focus {
    outline-width: 0px;
  }
}

$linkColor: #eee;

.ih-wrapper {
  display:       grid;
  grid-template: auto 1fr / 1fr;
  //place-items: center;

  .navbar {
    align-self:       center;
    display:          grid;
    grid-template:    1fr / 1fr 1fr;
    padding:          10px;
    background-color: #333;

    .title {
      color:       #fff;
      font-weight: bold;
    }

    .sign-out {
      text-align: right;

      a {
        color: $linkColor;

        &:visited {
          color: $linkColor;
        }
      }
    }
  }
}
