.chan-strip {
  &.wrapper {
    display:     grid;
    color:       $textcolor;
    @media only screen and (max-height: 568px) {
      height: 40vh;
    }

    .border {
      display:          grid;
      grid-template:    fit-content(200px) auto / 1fr;
      padding:          1vw;
      margin:           0px;
      border:           1px solid $fgcolor;
      border-radius:    10px;
      background-color: $bgcolor;

      .information {
        font-weight:   bold;
        border-bottom: 1px solid $fgcolor;
        text-align:    center;
      }

      .body {
        display:       grid;
        grid-template: 1fr / 1fr 1fr;
        place-items:   center;

        .slider { }

        .buttons {
          display:       grid;
          grid-template: repeat(auto-fit,minmax(10px,40px)) / 1fr;
          grid-gap:      5px;
          place-items:   center;
        }
      }

      .body_extra {
        display:     grid;
        place-items: center;

        .buttons {
          display:        grid;
          grid-template:  repeat(auto-fit,minmax(10px,40px)) / 1fr;
          grid-gap:       15px;
          place-items:    center;
          padding-top:    10px;
          padding-bottom: 10px;
        }
      }
    }
  }

  &.wrapper-extra-wide {
    @extend .wrapper;
    @media only screen and (max-width: 740px) {
      grid-column: span 2;
    }
    @media only screen and (max-width: 520px) {
      grid-column: span 4;
    }
  }
}
