.channel-strip {
  place-content:    stretch;
  display:          grid;
  grid-template:    fit-content(200px) auto / 1fr;
  border:           1px solid $fgColor;
  border-radius:    10px;
  color:            $textColor;
  background-color: $bgColor;

  .information {
    font-weight:   bold;
    border-bottom: 1px solid $fgColor;
    text-align:    center;
  }

  .body {
    display:       grid;
    grid-template: 1fr / 1fr 1fr;
    justify-items: center;
    padding:       5px;

    .slider {
      display:     grid;
      place-items: center;
    }

    .buttons {
      display:     grid;
      place-items: center;

      .wrapper {
        display:     grid;
        grid-gap:    5px;
        place-items: center end;
      }
    }
  }

  .body-extra {
    display:       grid;
    grid-template: 1fr / 1fr;
    justify-items: center;
    padding:       5px;

    .buttons {
      display:     grid;
      place-items: center;

      .wrapper {
        display:     grid;
        grid-gap:    5px;
        place-items: center end;
      }
    }
  }
}
