// Colors
//////////////////////////////////////////////////

$boxWidth:     40px;
$boxHeight:    40px;

$textColor:    #fff;

$fgColor:      #777;
$fgDisabled:   #444;

$bgColor:      #222;
$bgDisabledOn: #15adaf;


// Other Globals
//////////////////////////////////////////////////

$TFade: all 0.3s ease;
