.dl-wrapper {
  height:        100vh;
  display:       grid;
  @media only screen and (max-width: 520px) {
    grid-template: 30vh auto / 1fr;
  }
  @media only screen and (min-width: 521px) {
    grid-template: fit-content(100px) auto / 1fr;
  }
  justify-items: center;

  .title {
    align-self: end;
  }

  .body {
    align-self: start;

    .buttons {
      display:       grid;
      grid-gap:      2vh;
      grid-template: repeat(auto-fit,minmax(10px,1fr)) / 70vw;

      button {
        height:           50px;
        border-radius:    5px;
        outline:          0px;
        border:           1px solid #ccc;
        color:            #fff;
        background-color: transparent;
        transition:       all 0.2s ease;

        &:focus {
          background-color: #405a84;
          transition:       all 0.2s ease;
        }
      }

      #loginButton {
        justify-self:     center;
        width:            30vw;
        background-color: #079302;
        font-weight:      bold;
      }
    }
  }
}
