.bo-wrapper {
  display:       grid;
  grid-gap:      5px;
  padding:       10px;

  @media only screen and (orientation: portrait) {
    grid-template: repeat(4,35vh) / repeat(4,1fr);
  }

  @media only screen and (orientation: landscape) {
    grid-template: 60vh / repeat(auto-fit,minmax(10px,1fr));
  }
}

.bo-loading {
  display:       grid;
  grid-template: 80vh / 100vw;
  place-items:   center;

  button {
    padding: 5px;
    border-radius: 5px;
  }
}

.admin-wrapper {
  display:     grid;
  place-items: center;

  .admin-button-group {
    display:  grid;
    grid-gap: 10px;

    .button {
      border-radius:    5px;
      width:            70vw;
      padding:          20px;
      outline:          0px;
      border:           1px solid #ccc;
      color:            #fff;
      background-color: transparent;
    }
  }
}
