.bo-wrapper {
  display:       grid;
  grid-template: repeat(4,40vh) / repeat(4,1fr);
  grid-gap:      5px;
  padding:       10px;

  @media only screen and (min-width: 413px) {
    grid-template: 60vh / repeat(auto-fit,minmax(10px,1fr));
  }
  //@media only screen and (max-width: 740px) {
    //grid-template: auto / repeat(5,1fr);
  //}
  //@media only screen and (max-width: 520px) {
    //grid-template: auto / repeat(4,1fr);
  //}
}

.bo-loading {
  display:       grid;
  grid-template: 100vh / 100vw;
  place-items:   center;
}
