.bo-wrapper {
  display:       grid;
  grid-gap:      5px;
  padding:       10px;

  @media only screen and (orientation: portrait) {
    grid-template: repeat(4,35vh) / repeat(4,1fr);
  }

  @media only screen and (orientation: landscape) {
    grid-template: 60vh / repeat(auto-fit,minmax(10px,1fr));
  }
}

.bo-loading {
  display:       grid;
  grid-template: 100vh / 100vw;
  place-items:   center;
}
