$TFade:      all 0.3s ease;

$boxWidth:   40px;
$boxHeight:  40px;

$textColor:  #fff;

$fgColor:    #777;
$fgDisabled: #444;

$bgColor:    #111;

//////////////////////////////////////////////////

.cs-btn {
  display:          grid;
  place-items:      center;

  width:            $boxWidth;
  height:           $boxHeight;

  border:           1px solid $fgColor;
  border-radius:    5px;
  box-shadow:       none;

  font-size:        12px;
  background-color: transparent;
  transition:       $TFade;

  &.toggle {
    &.true {
      box-shadow:       inset 2px 2px 5px #222;
      color:            black;
      background-color: #89ff99;
      transition:       $TFade;

      &.mute {
        background-color: #ff8989;
      }
      &.solo {
        background-color: #fff989;
      }
    }

    &.false {
      transition: $TFade;
    }
  }

  &.disabled {
    color:  $fgDisabled;
    border: 1px solid $fgDisabled;
  }
}

.cs-value-display {
  display:          grid;
  place-items:      center;

  width:            $boxWidth;
  height:           $boxHeight;

  color:            $textColor;
  background-color: transparent;
}

.test-wrap {
  display: grid;
  width:   100px;
  height:  100px;
}

.channel-strip {
  place-content:    stretch;
  display:          grid;
  grid-template:    fit-content(200px) auto / 1fr;
  border:           1px solid $fgColor;
  border-radius:    10px;
  color:            $textColor;
  background-color: $bgColor;

  .information {
    font-weight:   bold;
    border-bottom: 1px solid $fgcolor;
    text-align:    center;
  }

  .body {
    display:       grid;
    grid-template: 1fr / 1fr 1fr;
    place-items:   center;
    padding:       5px;

    .slider {
      height: 150px;
    }

    .buttons {
      display:  grid;
      grid-gap: 5px;
    }
  }

}
