// VARIABLES
//////////////////////////////

// -- Font Defaults -
$font:                   helvetica;
$font-size:              18px;

// -- Colors --
$font-color:             #eee;
$font-color-dim:         #777;
$font-color-dark:        #222;

$link-color:             #6689ff;

$border-light:           #ccc;
$border-dim:             #777;

$focus-color:            blue;

$bg-color-menu:          #202020;
$bg-color-channel:       #181818;
$bg-color-ch-master:     #22385e;
$bg-color-light:         #eee;
$bg-color:               #090909;

$color-mute:             #c43a3a;
$color-mute-dim:         #3a1f1f;
$color-solo:             #dbd230;
$color-solo-remote:      #29ced1;
$color-solo-dim:         #3a391f;
$color-solo-dim-remote:  #304651;

// -- Borders --
$border-style-ch:        1px solid $border-dim;
$border-style-ch-master: 1px solid $border-light;


// -- Transitions --
$TFade:                  all 0.3s ease;
